

h1 {
    font-size: 40px;
    text-align: center;
}

header {
    background-image: url("trains1.jpg");
    

}


p {
    text-align: center;
    line-height: 200px;
}

h2 {
    text-align: center;
    margin-top: -10px;
}

h3 {
    text-align: center;
}

h4 {
    text-align: center;
}


#nobtn {
    margin-left: 140px;
}


.box-s {
    align-items: center;
    border-style: solid;
    border-color: black;
    padding-top: 100px;


}
#lets-go {
    margin-right: 200px;
    margin-top: 80px;
    background-color: rgb(136, 247, 255);
    color: rgb(3, 2, 2);
    font-size: 25px;
}

#destination {
    margin-left: 65px;
}

#sub {
    background-color: rgba(179, 255, 229, 0.226);
    color: black;
}
