:root {
    --primary-color: royalblue;
    --secondary-color: slategray;
    --third-color: rgb(136, 247, 255);
}

* {
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

h1 {
    font-size: 40px;
    text-align: center;
}

p {
    text-align: center;
    font-size: 15px;
    padding: 0px;
    margin: 0px;
    height: 10px;
}

#letsGoBtn {
    display: block;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color:rgb(136, 247, 255);
    font-size: 20px;
    align-self: center;    
}

#lets-go {
    margin-left: 125px;
    margin-top: 80px;
    background-color: rgb(136, 247, 255);
    color: rgb(3, 2, 2);
    font-size: 25px;
}

#centralAlign {
    display: flex;
    align-self: center;
}

#pagetwo,
#pagethree,
#pagefour,
#pagefive {
    display:none;
}

.astrisk {
    font-size: 15px;
}

.pageTitle {
    text-align: center;
    font-size: 30px;
}

.locationBtn {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    color: white;
    background-color:black;
}

.box-size {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-self: center;
    border-style: solid;
    border-color: black;
    padding-top: 10px;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 20px;
    height: 500px;
    background-color: white;
    /* position absolute will allow all pages to stack
    on top of eachother once we have buttons ready to 
    navigate between pages - at that time
    please delete this note */
    position: absolute;
}

.introInfo {
    display: flex;
    flex-wrap: wrap;
}

.partyButtons {
    display: block;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color:rgb(136, 247, 255);
}

@media only screen and (min-width: 600px) {
    body {
    /*background color is temporary. showing media q responsiveness*/
      background-color:burlywood;
    }


    .box-size {
        display: flex;
        flex-direction: column;
        width: 90%;
    }

  }