:root {
    --primary-color: royalblue;
    --secondary-color: slategray;
}

h1 {
    font-size: 40px;
    text-align: center;
}

.pageTitle {
    text-align: center;
    font-size: 30px;
}

/* p {
    text-align: center;
    font-size: 20px;
} */

#letsGoBtn {
    display: block;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 10px black;
    background-color:rgb(136, 247, 255);
    
}

#lets-go {
    margin-left: 125px;
    margin-top: 80px;
    background-color: rgb(136, 247, 255);
    color: rgb(3, 2, 2);
    font-size: 25px;
}

#destination {
    margin-left: 65px;
}

#sub {
    background-color: rgba(179, 255, 229, 0.226);
    color: black;
}

.pageTitle {
    text-align: center;
    font-size: 30px;
}

.page2,
.page3,
.page4,
.page5 {
    text-align: center;
    font-size: 20px;

}

.dropPgTitle {
    padding-top: 30px;
}

.box-size {
    align-self: center;
    border-style: solid;
    border-color: black;
    padding-top: 20px;
    padding-right: 10px;
    padding-left: 10px;
    margin: 15px;
    height: 450px;
}

.partyButtons {
    display: block;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 5px black;
    background-color:rgb(136, 247, 255);
}

@media only screen and (min-width: 500px) {
    body {
      background-color: burlywood;

    }
  }